<md-dialog layout="column" flex="60" aria-label="Lista de Atores da Praça">
  <md-dialog-content>

    <md-content md-theme="docs-dark" layout-padding>
      <div layout="row" layout-align="space-between center">
        <h2>Lista de Atores da Praça</h2>
      </div>
    </md-content>

    <md-content>
      <md-card ng-repeat="ator in $ctrl.atores">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ ator.nome }}</span>
            <span class="md-subhead">{{ ator.area_descricao }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content layout="row" layout-align="space-between">
          <div>
            <p>Descrição: {{ ator.descricao_descricao }}</p>
            <p>Email: {{ ator.email }}</p>
            <p>CEP: {{ ator.cep }}</p>
            <p>Endereço: {{ ator.endereco }}</p>
            <p>Telefone1: {{ ator.telefone1 }}</p>
            <p>Telefone2: {{ ator.telefone2 }}</p>
          </div>
          <div show-as-manager="true">
            <md-card-actions layout="column">
              <md-button aria-label="Editar Ator" ng-click="$ctrl.atorEditDialog($ctrl.praca, ator)">
                <md-icon>create</md-icon>
              </md-button>
              <md-button aria-label="Excluir Ator" ng-click="$ctrl.atorDelDialog($ctrl.praca, ator)">
                <md-icon>cancel</md-icon>
              </md-button>
            </md-card-actions>
          </div>
        </md-card-content>

      </md-card>
    </md-content>

  </md-dialog-content>
</md-dialog>
