<md-dialog layout="column" flex="60" aria-label="Lista de Parceiros da Praça">
    <md-dialog-content>
        <md-content md-theme="docs-dark" layout-padding>
            <div layout="row" layout-align="space-between center">
                <h2>Lista de Parceiros da Praça</h2>
            </div>
        </md-content>

        <md-content>
            <md-card ng-repeat="parceiro in $ctrl.parceiros">
                <!-- <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ parceiro.nome }}</span>
                        <span class="md-subhead">{{ parceiro.email }}</span>
                    </md-card-title-text>
                </md-card-title> -->

                <md-cart-content layout="row" layout-align="space-between">
                    <div>
                        <p>Nome: {{ parceiro.nome }}</p>
                        <p>Email: {{ parceiro.email }}</p>
                    </div>
                    <div show-as-manager="true">
                        <md-card-actions layout="column">
                            <md-button aria-label="Editar Parceiro" ng-click="$ctrl.parceiroEditDialog($ctrl.praca, parceiro)">
                                <md-icon>create</md-icon>
                            </md-button>
                            <md-button aria-label="Excluir Registro" ng-click="$ctrl.parceiroDelDialog($ctrl.praca, parceiro)">
                                <md-icon>cancel</md-icon>
                            </md-button>
                        </md-card-actions>
                    </div>
                </md-cart-content>
            </md-card>
        </md-content>

    </md-dialog-content>
</md-dialog>