<md-dialog layout="column" flex="60" aria-label="Lista de Recursos Humanos da Praça">
  <md-dialog-content>

    <md-content md-theme="docs-dark" layout-padding>
      <div layout="row" layout-align="space-between center">
        <h2>Lista de Recursos Humanos da Praça</h2>
      </div>
    </md-content>

    <md-content>
      <md-card ng-repeat="rh in $ctrl.rhs">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ rh.nome }}</span>
            <span class="md-subhead">{{ rh.funcao }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content layout="row" layout-align="space-between">
          <div>
            <p>Vinculo: {{ rh.vinculo_descricao }}</p>
            <p ng-show="rh.remuneracao">Remuneração: R${{ rh.remuneracao | currency }}</p>
            <p>Data de Entrada: {{ rh.data_entrada | date: "dd/MM/yyyy" }}</p>
            <p ng-show="rh.data_saida">Data de Saída: {{ rh.data_saida | date: "dd/MM/yyyy" }}</p>
            <p>Escolaridade: {{ rh.escolaridade_descricao }}</p>
            <p>Formação: {{ rh.formacao_descricao }}</p>
          </div>
          <div show-as-manager="true">
            <md-card-actions layout="column">
              <md-button aria-label="Editar Vinculo" ng-click="$ctrl.rhEditDialog($ctrl.praca, rh)">
                <md-icon>create</md-icon>
              </md-button>
              <md-button aria-label="Finalizar Vinculo" ng-click="$ctrl.rhEndDialog($ctrl.praca, rh)">
                <md-icon>cancel</md-icon>
              </md-button>
            </md-card-actions>
          </div>
        </md-card-content>

      </md-card>
    </md-content>

  </md-dialog-content>
</md-dialog>
