  <div layout-gt-sm="row" class="container">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Mês</label>
      <md-select ng-model="$ctrl.objForm.intMonth" ng-change="$ctrl.loadEvents()">
        <md-option ng-repeat="data in $ctrl.arrMonth" value="{{data.id}}">
          {{data.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Ano</label>
      <md-select ng-model="$ctrl.objForm.intYear" ng-change="$ctrl.loadEvents()">
        <md-option ng-repeat="data in $ctrl.arrYear" value="{{data.id}}">
          {{data.name}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout-gt-sm="row" class="container">
    <div style="width: 100vw; margin: auto;" class="animated {{$ctrl.strAnimate}}">
      <mwl-calendar
              style="width: 100%"
              view="$ctrl.config.calendarView"
              view-date="$ctrl.config.viewDate"
              events="$ctrl.events"
              view-title="$ctrl.config.calendarTitle"
              on-view-change-click="false"
              on-event-click="$ctrl.navigateTo(calendarEvent.id_pub)"
              on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
              cell-is-open="true">
      </mwl-calendar>
    </div>
  </div>
<br /> <br />
