<md-dialog arial-label="Upload de imagens da Praça">
  <md-dialog-content>
    <md-content md-theme="docs-dark" layout-padding>
      <h2>Upload de imagens da Praça</h2>
      <p>Você pode enviar imagens relacionadas à Praça. São permitidos apenas arquivos de imagem e com tamanho máximo de 10MB.</p>
    </md-content>
    
    <div layout-padding>
      <md-button
        class="md-raised"
        ngf-select
        ng-model="$ctrl.images"
        ngf-multiple="true"
        ngf-pattern="'image/*'"
        ngf-accept="'image/*'"
        ngf-max-size="10MB">
        Selecione as imagens
      </md-button>
      <md-card ng-repeat="image in $ctrl.images" ng-show="$ctrl.images">
        <div layout="row" layout-align="left center">
          <!-- <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right"> -->
          <!--   <md-fab-trigger> -->
          <!--     <md-button aria-label="menu" class="md-fab"> -->
          <!--       <md-tooltip md-direction="top">Menu</md-tooltip> -->
          <!--       <md-icon>menu</md-icon> -->
          <!--     </md-button> -->
          <!--   </md-fab-trigger> -->

          <!--   <md-fab-actions> -->

          <!--     <md-button aria-label="Enviar"> -->
          <!--       <md-tooltip md-direction="bottom" md-autohide="false">Enviar esta imagem</md-tooltip> -->
          <!--     </md-button> -->

          <!--     <md-button aria-label="Excluir"> -->
          <!--       <md-tooltip md-direction="bottom" md-autohide="false">Excluir esta imagem</md-tooltip> -->
          <!--     </md-button> -->

          <!-- </md-fab-speed-dial> -->
          <div flex=50 layout-margin>
            <img ngf-resize="{width:350}" ngf-src="image">
          </div>
          <div flex=50 layout-margin>
            <md-input-container class="md-block" flex>
              <label>Titulo da Imagem</label>
              <input name="imageTitle" ng-model="image.titulo" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Descrição da Imagem</label>
              <textarea name="imageDescription" ng-model="image.descricao" rows=5/>
            </md-input-container>
          </div>
        </div>
      </md-card>
    </div>
    <md-progress-linear
      ng-show="$ctrl.progress >= 0"
      md-mode="determinate"
      value="{{$ctrl.progress}}">
    </md-progress-linear>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="$ctrl.cancel()">
      Cancelar
    </md-button>
    <md-button class="md-no-focus md-raised md-primary" ng-disabled="!$ctrl.images" ng-click="$ctrl.uploadImg($ctrl.images, $event)">
      Enviar Todas as Imagens
    </md-button>
  </md-dialog-actions>
</md-dialog>
