<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;" class="no-print">
    <ul id="menu-barra-temp" style="list-style:none;">
        <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
        <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
</div>
<md-toolbar layout="row" layout-align="space-between center" class="md-toolbar-tools" >
    <div style="margin-left: 40px;"></div>
	<div layout="row" layout-align="space-between center" flex class="limite">
		<div >
      <md-icon md-svg-icon="idcultura" id="logo-print" class="print-only" class="s48"></md-icon>
			<a class="home-link" 
				ui-sref="app.home"
				ng-bind="::$ctrl.appName | lowercase">
			</a>
		</div>
		<div>
			<!-- Exibe o Login para usário não loggados -->
			<md-list show-authed="false" class="no-print">
				<md-list-item>
                    <md-button class="md-raised" oauth-login-button id="btn-login">Entrar</md-button>
					<!--<md-button oauth-login-button aria-label="Entre com idCultura" id="btn-login">-->
          <!--<md-icon md-svg-icon="idcultura" id="idcultura" class="s48"></md-icon>-->
					<!--</md-button>-->
          <!--<p hide-xs>Entrar</p>-->
				</md-list-item>
			</md-list>

			<!-- Exibe as opções para usuários logados -->
			<md-list show-authed="true" class="no-print">
        <md-menu>
          <md-list-item ng-click="$mdOpenMenu($event)">
            <img ng-src={{$ctrl.currentUser.profile_picture_url}} class="md-avatar">
            <span hide-xs>Olá {{::$ctrl.currentUser.first_name}}</span>
          </md-list-item>
          <md-menu-content width="5">
            <md-menu-item ng-repeat="item in userMenu">
              <md-button ng-click="$state.go(item.app)">
                <md-icon>{{item.icon}}</md-icon>
                {{item.name}}
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="User.logout()">
                <md-icon>cancel</md-icon>
                Fechar sessão
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list>
		</div>

	</div>

 </md-toolbar>
